/*CSS document*/

body {
  text-align: left;  
}

a{
    text-decoration: none;
}

h1 {
    max-width: 4em;
}

h2 {
    color: rgb(204,51,63);
    font-size: 2em;
	padding: 0.5rem;
    font-family: josefin-sans;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
}

h3 {
    color: rgb(204,51,63);
    font-size: 1.5em;
    font-family: josefin-sans;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    margin-bottom: 0;
}

p{
    font-family: josefin-sans;
    font-weight: 250;
    font-size: 1.2em;
    color: rgb(122,68,25);
    margin-top: 0.3;
}

div.container {
    max-width: 50em;
    margin: 0 auto;
}

section{
    margin: 0em;
}

figure {
    margin: 0;
}

figcaption{
    font-family: josefin-sans;
    font-weight: 250;
    color: rgb(122,68,25);
    margin: 0;
    padding-bottom: 0.2em;
}

div.gallery {
    background-color: rgb(204,51,63);
    max-width: 60em;
    margin: 0 auto;
    padding: 1em;
}

img {
    width: 100%;
    display:block;
}

ul {
    font-family: josefin-sans, sans-serif;
    font-weight: 400;
    font-style: italic;
    padding: 0rem 1.5rem 1rem; 
    list-style-type: none;
    padding: 0.5em ;
}

nav ul{
    text-align: left;
}

nav ul li{
    display:inline;
    margin-right: 1.5rem;
    list-style-type: none;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
}

nav ul li a{
    color: rgb(131, 80, 25);
    text-decoration: none;
}

div.gallery-container{
        max-width:60em;
        margin:auto;
    }

div.gallery-container input{
        display:none;
    }
    
.gallery img{
        width:100%;
    }
    
main.gallery{
    position: relative; 
    overflow: hidden;
    padding: 3em;
    min-height: 60em;
    }

main.gallery figcaption{
    color:rgb(122,68,25);
    margin:1em;
    font-size: 1.5em;
}
    
.gallery figure{
    margin:0;
    width: 100%;
    position: absolute;
    opacity:0;
    transition: .5s;
    }
    
input:nth-of-type(1):checked ~ main figure:nth-of-type(1),
input:nth-of-type(2):checked ~ main figure:nth-of-type(2),
input:nth-of-type(3):checked ~ main figure:nth-of-type(3),
input:nth-of-type(4):checked ~ main figure:nth-of-type(4),
input:nth-of-type(5):checked ~ main figure:nth-of-type(5),
input:nth-of-type(6):checked ~ main figure:nth-of-type(6),
input:nth-of-type(7):checked ~ main figure:nth-of-type(7),
input:nth-of-type(8):checked ~ main figure:nth-of-type(8){

opacity: 1;
    
    }

nav.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.2em;
    margin-top: .5em;
}


@media screen and (min-width: 60em){
    
div.container{
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-gap: 0 4em;
        max-width: 80em;
    }
    
header{
     grid-column: 1/3;   
    }

main{
    grid-column: 1/2;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 0 2em;
    }

section.mainstory{
        grid-column: 1/4;
        grid-row: 1/2;
        display: flex;
        flex-direction: column;
    }

section.mainstory a h3{
        margin-top: 1em;
    }  

section.mainstory a p{
        margin-top: 0.3em;
        margin-bottom: 0em;

    }

section.secondary a p{
       margin-top: 0.3em;
    }

section.mainstory figure{
        flex: 1 0 20em;
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    
section.mainstory figure{
        margin:0;    
    }
    
section.mainstory figure div{
        flex: 1 0 18em;
        background-image: url(greenonion.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

section.mainstory figure img div{
        height: 100%;
        opacity: 0;
    }
    
section.mainstory h3{
        flex: 0 0 auto;
        margin: 0;
    }

section.tertiary h3{
        margin-top: 0em;
    }

section.tertiary a p{
        margin-top: 0.3em;
        margin-bottom: 2em;
    }

aside{
     grid-column: 2/3;   
    }

.personal-info h3{
      color: rgb(204,51,63);
    font-size: 1.5em;
    font-family: josefin-sans;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;  
    }

.newsletter-field ul{
     color: rgb(122,68,25);   
    }

.newsletter-field ul li{
    font-family: josefin-sans;
    font-weight: 250;
    font-size: 1.2em;
    color: rgb(122,68,25);
    }

.newsletter-field ul li label{
    font-family: josefin-sans;
    font-weight: 250;
    font-size: 1.2em;
    color: rgb(122,68,25);
    }
    
section.personal-info ul li input[type="text"],
section ul li input[type="email"],
section ul li input[type="tel"],
section ul li select {
	flex: 1 0 30em;
	box-sizing: border-box;