/*CSS document*/

body {
background-color: #E6D7B2
}

a{
    text-decoration: none;
}

h1 {
    display:block;
    margin-left:auto;
    margin-right:auto;
    line-height: 110%;
    width: 3em;
    font-size: 2.5em;
    padding: 1rem 1.5rem 1rem;
    text-align: center;
    text-decoration: none;
}

h2 {
    color: rgb(204,51,63);
    font-size: 2em;
	padding: 0.5rem;
    font-family: josefin-sans;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    margin: 0;
}

h3 {
    color: rgb(204,51,63);
    font-size: 2em;
	padding: 0.5rem;
    font-family: josefin-sans;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    margin: 0;
}

p{
    font-family: josefin-sans;
    font-weight: 250;
    color: rgb(122,68,25);
    margin: 0;
    padding-bottom: 1em;
}

div.container {
    max-width: 40em;
    margin: auto;
}

figure {
    margin: 0;
}

figcaption{
    font-family: josefin-sans;
    font-weight: 250;
    color: rgb(122,68,25);
    margin: 0;
    padding-bottom: 1em;
}

img {
    width: 100%;
    display:block;
}

ul {
   
    font-family: josefin-sans, sans-serif;
    font-weight: 400;
    font-style: italic;
    padding: 0rem 1.5rem 1rem 
    list-style-type: none;
    padding: 0;
}

nav ul{
    text-align: left;
}

nav ul li{
    display:inline;
    margin: 1rem 1rem 1rem;
    list-style-type: none;
    text-align: left;
    text-decoration: none;
}

nav ul li a{
    color: rgb(131, 80, 25);
    text-decoration: none;
}
