/*CSS document*/

body {
  text-align: left;  
}

a{
    text-decoration: none;
}

.logo{
    display:block;
}

h1 {
    max-width: 3em;
}

h2 {
    color: rgb(204,51,63);
    font-size: 2em;
	padding: 0.5rem;
    font-family: josefin-sans;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    margin: 0em;
}

h3 {
    color: rgb(204,51,63);
    font-size: 1.5em;
    font-family: josefin-sans;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    margin: 0;
}

p{
    font-family: josefin-sans;
    font-weight: 250;
    color: rgb(122,68,25);
    margin-bottom: 0.8em;
}

div.container {
    max-width: 80em;
    margin: 0 auto;
}

section{
    max-width: 40em;
    margin: 0 auto 3em;
}

figure {
    margin: 0;
}

figcaption{
    font-family: josefin-sans;
    font-weight: 250;
    color: rgb(122,68,25);
    margin: 0;
    padding-bottom: 1em;
}

img {
    width: 100%;
    display:block;
}

ul {
   
    font-family: josefin-sans, sans-serif;
    font-weight: 400;
    font-style: italic;
    padding: 0rem 1.5rem 1rem 
    list-style-type: none;
    padding: 0;
}

nav ul{
    text-align: left;
}

nav ul li{
    display:inline;
    margin-right: 1.5rem;
    list-style-type: none;
    text-align: left;
    text-decoration: none;
}

nav ul li a{
    color: rgb(131, 80, 25);
    text-decoration: none;
}

@media screen and (min-width: 60em){
    
div.container{
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-gap: 0 2em;
    }
    
header{
     grid-column: 1/3;   
    }

main{
    grid-column: 1/2;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 0 2em;
    }

section.mainstory{
        grid-column: 2/4;
        grid-row: 1/3;
        display: flex;
        flex-direction: column;
    }

section.mainstory figure{
        flex: 1 0 20em;
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    
section.mainstory figure div{
        flex: 1 0 18em;
        background-image: url(greenonion.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

section.mainstory figure img div{
        height: 100%;
        opacity: 0;
    }
    
section.mainstory h3{
        flex: 0 0 auto;
        margin: 0;
    }

aside{
     grid-column: 2/3;   
    }
}
